@{
    ViewBag.Title = "Мониторинг";
}
<div class="wrapper">

	@Html.Partial("_HeaderPatial")

	@Html.Partial("_SidebarPartial")

	<div class="content-wrapper">
		<div class="content-header">
			<h1>Мониторинг контейнеров</h1>
		</div>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div id="container-map-monitoring" class="map-container map-container-big"></div>
        </div>
      </div>
    </section>
	</div>

	<footer class="main-footer"></footer>

</div>
