@{
    ViewBag.Title = "Главная";
}
<div class="wrapper">

    @Html.Partial("_HeaderPatial")

    @Html.Partial("_SidebarPartial")

    <div class="content-wrapper">
        <section class="content-header">
        <h1>Главная</h1>
            <hr />
        <p>Версия приложения: 1.4.7 от 12.06.2018</p>
        </section>
    </div>
</div>
