<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования Web.config см. по адресу: http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes" key="TestEnvironment" value="false"/>

  </appSettings>

</configuration>
